{% extends "layout.html" %}
{% block content %}
<main id="main">
  <section>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 text-center mb-5">
          <h1 class="page-title">About us</h1>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="d-md-flex post-entry-2 half">
        <a href="#" class="me-4 thumbnail">

          <img src="static/profile_pics/default.jpg" class="" alt="">

        </a>
        <div class="ps-md-5 mt-4 mt-md-0">
          <div class="post-meta mt-4">About us</div>
          <h2 class="mb-4 display-4">Welcome to Rewind</h2>


          <!-- <h3 style="text-align: center;">Welcome To <span id="W_Name1">Rewind</span></h3> -->
          <p><span id="W_Name2">Rewind</span> is a Professional <span id="W_Type1">travel</span> Platform. Here we
            will provide you only interesting content, which you will like very much. We're dedicated to providing you
            the best of <span id="W_Type2">travel</span>, with a focus on dependability and <span id="W_Spec">Never
              ending exploration</span>. We're working to turn our passion for <span id="W_Type3">travel</span> into
            a booming <a href="https://www.blogearns.com/2021/05/free-about-us-page-generator.html" rel="do-follow"
              style="color: inherit; text-decoration: none;">online website</a>. We hope you enjoy our <span
              id="W_Type4">travel</span> as much as we enjoy offering them to you.</p>
          <p>I will keep posting more important posts on my Website for all of you. Please give your support and love.
          </p>

          <br />
          <p>
            Rewind is created by
            <a href="https://www.linkedin.com/in/itohan-omovbude-41284a194/"><em><strong> Omovbude Itohan</strong></em></a>, a
            Backend Engineering student at
            <a href="https://altschoolafrica.com/schools/engineering"><em><strong>AltSchool Africa</strong></em></a>
            using Python and Flask framework
          </p>
          <br />
          <p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
            <span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span>
          </p>
        </div>
      </div>

    </div>


  </section>



</main>
{% endblock content %}